<div class="bottom-navbar fixed-bottom">
  <div class="<%= 'active' if current_page?(reports_path) %>">
    <%= link_to reports_path do %>
    <i class="far fa-list-alt"></i>
    <% end %>
  </div>
  <div class="<%= 'active' if current_page?(new_report_path) %>">
    <%= link_to new_report_path, class: "plus-button" do %>
    <span>+</span>
    <% end %>
  </div>
  <div class="<%= 'active' if current_page?(profile_path) %>">
    <%= link_to profile_path do %>
    <i class="far fa-user-circle"></i>
    <% end %>
  </div>
</div>
