<div class="landing-header">
  <h1>Because we deserve a better community.</h1>
  <h3>The simplest way to report your issues to local authorities</h3>
</div>
<div class="home-banner pt-5 px-3 " style="background-image: url(<%= image_path('home-banner.jpg') %>)">
  <%= link_to 'Report an issue', new_report_path, :class => "btn-home-primary btn-primary" %>
</div>

<div class="browse argument-header">
  <p>You can also search for existing reports:</p>
  <%#= link_to 'Browse', reports_path, :class => "btn-home-secondary btn-secondary geocode" %>
  <%= form_with url: reports_path, method: :get, local: true, class: "form-inline mt-3 d-flex justify-content-center" do %>
  <%= text_field_tag :query, "", class: "form-control w-45 search-text", placeholder: "Where are you?" %>
  <%= button_tag type: 'submit' , class: "search-button" do %>
  <i class="fas fa-search" aria-hidden="true"></i>
  <% end %>
  <% end %>
</div>

<div class="report-header argument-header">
  <h2>report</h2>
  <p>report your issue to local authorities and create awareness in your community</p>
  <%= image_tag("report.svg") %>
</div>

<div class="upvote-header argument-header">
  <h2>upvote</h2>
  <p>browse trhough reports from your community and vote for the most pressing matters</p>
  <%= image_tag("upvote.svg") %>
</div>

<div class="share-header argument-header">
  <h2>share</h2>
  <p>share the reports with your friends & create a better community</p>
  <%= image_tag("share.svg") %>
</div>

<h4>Popular reports</h4>

<div class="cards">
  <% @reports.sort_by { |r| r.total_votes}.reverse.take(4).each do |report|  %>
  <%= link_to report_path(report) do %>
  <div class="home-card">
   <% if report.photo.attached? %>
   <%= cl_image_tag report.photo.key  %>
   <% else %>
   <img src="https://www.rd.com/wp-content/uploads/2019/04/mai-khao-beach-phuket-thailand-june-222018-dirty-beach-along-the-shoreline.jpg">
   <% end %>
   <div class="home-card-info">
     <div class="home-text">
      <div>
        <h2><%= report.title.capitalize%></h2>
        <p><i class="fas fa-map-marker-alt mr-2"></i><%= report.location.split(",").first%></p>
        <%= link_to report.category.name, reports_path(category_id: report.category_id), class: "pill-category" %>
        <!-- <a href="#" class="pill-category"><%= report.category.name %></a> -->
      </div>
    </div>
  </div>
  <div class="upvotes-info mr-3">
    <span class="line-height"><%= report.total_votes %></span>
    <% if report.total_votes == 1 %>
    <p>vote</p>
    <% else %>
    <p>votes</p>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
</div>
<h4>Reports in your area:</h4>


<div id="map"
style="width: 100%; height: 600px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<h4>Contact us</h4>
<div class="container d-flex justify-content-between align-items-center">
  <div class="social-links">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
  </div>
</div>
