<div class="landing-header">
  <h1>Because we deserve a better community.</h1>
  <h3>The simplest way to report your issues to local authorities</h3>
</div>
  <div class="home-banner pt-5 px-3 " style="background-image: url('https://i.pinimg.com/originals/99/9b/71/999b711bda14eea62712bb04d29f2a9c.jpg')">
      <%= link_to 'Report an issue', new_report_path, :class => "btn-home-primary btn-primary" %>
  </div>

    <div class="browse">
      <h6>You can also see existing reports:</h6>
      <a href="#" class="geocode btn-home-secondary btn-secondary">Browse</a>
    </div>

    <div class="report-header argument-header">
      <h2>report</h2>
      <p>report your issue to local authorities and create awareness in your community</p>
      <%= image_tag("report.svg") %>
    </div>

    <div class="upvote-header argument-header">
      <h2>upvote</h2>
      <p>browse trhough reports from your community and vote for the most pressing matters</p>
      <%= image_tag("upvote.svg") %>
    </div>

    <div class="share-header argument-header">
      <h2>share</h2>
      <p>share the reports with your friends & create a better community</p>
      <%= image_tag("share.svg") %>
    </div>

  <h4>Popular reports</h4>

  <div class="cards">
    <% @reports.take(5).each do |report|  %>
      <%= link_to report_path(report) do %>
        <div class="home-card">
         <% if report.photo.attached? %>
          <%= cl_image_tag report.photo.key  %>
         <% else %>
          <img src="https://www.rd.com/wp-content/uploads/2019/04/mai-khao-beach-phuket-thailand-june-222018-dirty-beach-along-the-shoreline.jpg">
         <% end %>
         <div class="home-card-info">
           <div class="home-text">
            <div>
              <h2><%= report.title.capitalize%></h2>
              <p><i class="fas fa-map-marker-alt mr-2"></i><%= report.location.split(",").first%></p>
              <a href="#" class="pill-category"><%= report.category.name %></a>
            </div>
          </div>
        </div>
          <div class="upvotes-info mr-3">
            <span class="line-height"><%= report.total_votes %></span>
            <% if report.total_votes == 1 %>
              <p>vote</p>
            <% else %>
              <p>votes</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<h4>Reports in your area:</h4>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

