<div class="landing-header">
  <h1>Because we deserve a better community.</h1>
  <h2>The simplest way to report your issues to local authorities</h2>
</div>
<div class="home-banner" style="background-image: url(<%= image_path('home-banner.jpg') %>)">
  <%= link_to 'Report an issue', new_report_path, :class => "btn-home-primary btn-primary" %>
</div>

<div class="browse argument-header">
  <p>You can also search for existing reports:</p>
  <%#= link_to 'Browse', reports_path, :class => "btn-home-secondary btn-secondary geocode" %>
  <%= form_with url: reports_path, method: :get, local: true, class: "form-inline flex-box" do %>
  <%= text_field_tag :query, "", class: "search-text form-control", placeholder: "Where are you?" %>
  <%= button_tag type: 'submit' , class: "search-button" do %>
  <i class="fas fa-search" aria-hidden="true"></i>
  <% end %>
  <% end %>
</div>

<div class="report-header argument-header">
  <h3>report</h3>
  <p>report your issue to local authorities and create awareness in your community</p>
  <%= image_tag("report.svg") %>
</div>

<div class="upvote-header argument-header">
  <h3>upvote</h3>
  <p>browse through reports from your community and vote for the most pressing matters</p>
  <%= image_tag("upvote.svg") %>
</div>

<div class="share-header argument-header">
  <h3>share</h3>
  <p>share the reports with your friends & create a better community</p>
  <%= image_tag("share.svg") %>
</div>

<h4>Popular reports</h4>

<div class="cards" data-controller="votes">
      <% @reports.sort_by { |r| r.total_votes}.reverse.take(4).each do |report|  %>
      <div class="report-card">
        <%= link_to report_path(report) do %>
        <div class="img-votes">
          <% if report.photo.attached? %>
          <%= cl_image_tag report.photo.key  %>
          <% else %>
          <img src="https://www.rd.com/wp-content/uploads/2019/04/mai-khao-beach-phuket-thailand-june-222018-dirty-beach-along-the-shoreline.jpg">
          <% end %>
        </div>
          <div class="vote-count">
            <span class="line-height " id="vote-<%= report.id %>"><%= report.total_votes %></span>
            <p><%= 'vote'.pluralize(report.total_votes) %></p>
          </div>
        <% end %>
        <div class="report-card-info">
          <div class="report-text">
            <div>
              <%= link_to report_path(report) do %>
              <h2><%= report.title%></h2>
              <p><i class="fas fa-map-marker-alt mr-1"></i><%= report.location.split(",").first%></p>
              <!-- <p><i class="far fa-calendar-alt mr-1"></i><%= ((DateTime.current.to_date - report.created_at.to_date) / 3600).round %> hours ago</p> -->
              <p><i class="far fa-calendar-alt mr-1"></i><%= time_ago_in_words(report.created_at)%> ago</p>
              <% end %>
              <%= link_to report.category.name, reports_path(request.params.merge(category_id: report.category.id)), class: "pill-category" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
</div>
<h4>Reports in your area</h4>


<div id="map"
style="width: 100%; height: 600px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="social-links">
  <h4>Contact us</h4>
  <div class="container d-flex text justify-content-center">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
  </div>
</div>
