<h1>Reports</h1>

<div class="reports">
  <% @reports.each do |report| %>
  <p><%= report.title %> <%= link_to "Details", report_path(report) %></p>
  <p><%= report.location %></p>
  <p><%= report.category.name %></p>
  <% end %>
</div>



<div class="container">

  <ul class="nav report-tab">
    <li><a class="active" data-toggle="tab" href="#list">List</a></li>
    <li><a data-toggle="tab" href="#map_container">Map</a></li>
  </ul>


  <div class="tab-content">

    <div id="list" class="tab-pane active">

      <div class="cards">
          <% @reports.take(4).each do |report|  %>
            <%= link_to report_path(report) do %>
              <div class="report-card">
               <% if report.photo.attached? %>
                <%= cl_image_tag report.photo.key  %>
               <% else %>
                <img src="https://www.rd.com/wp-content/uploads/2019/04/mai-khao-beach-phuket-thailand-june-222018-dirty-beach-along-the-shoreline.jpg">
               <% end %>
               <div class="report-card-info">
                 <div class="report-text">
                  <div>
                    <h2><%= report.title%></h2>
                    <p><i class="fas fa-map-marker-alt mr-2"></i><%= report.location.split(",").first%></p>
                    <a href="#" class="pill-category"><%= report.category.name %></a>
                  </div>
                </div>
              </div>
                <div class="upvotes-buttons mr-3">
                  <a href="#"><i class="fas fa-chevron-up upvote-arrow"></i></a>
                  <span class="line-height"><%= report.total_votes %></span>
                  <a href="#"><i class="fas fa-chevron-down downvote-arrow"></i></a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>

      <div id="map_container" class="tab-pane fade">
        <div id="map"
             style="width: 100%; height: 600px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
             </div>
      </div>

</div>




