<h1>Report an issue</h1>

<%= simple_form_for @report do |f| %>
  <%#= f.input :photo, as: :file, :label => "Upload a photo" %>
  <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'btn-secondary'}, label: 'Upload a photo' %>
  <%= f.input :title, :label => "What is the issue?" %>
  <%= f.input :description, as: :text, :label => "Describe what is happening" %>
  <%= f.input :location, :label => "Where is it located?" %>
  <%= f.association :category, prompt: 'Choose a category', :label => "Which is the category?"%>
  <%= f.button :submit, 'Post', class: "btn-primary" %>
  <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
<%end%>
