<div class="container">
  <h1>Report details</h1>

  <% if @report.photo.attached? %>
    <%= cl_image_tag @report.photo.key, height: 150, width: 250%>
  <% else %>
    <p>No photo</p>
  <% end %>
  <p><%= @report.title %></p>
  <p><%= @report.location %></p>
  <p><%= @report.category.name %></p>
  <p><%= @report.description %></p>
  <%= link_to upvote_report_path(@report) do %>
    <i class="fas fa-chevron-up"></i>
  <% end %>
  <p><%= @report.total_votes %></p>
  <%= link_to downvote_report_path(@report) do %>
    <i class="fas fa-chevron-down"></i>
  <% end  %>
  <br>
  <br>
  <%= link_to "Back", reports_path, class: "btn btn-secondary"  %>
</div>
